@media screen and (max-width: 1799px) {
  .section-title h1 {
    font-size: 80px;
    line-height: 90px;
  }
  .years {
    font-size: clamp(80px, 10vw, 290px);
  }
  .section-title h2 {
    font-size: 70px;
    line-height: 80px;
  }
  .section-head h3,
  .testimonial-title h3,
  .section-title h3 {
    font-size: 24px;
    line-height: 34px;
  }
}
@media screen and (max-width: 1599px) {
  .section-title h2 {
    font-size: 60px;
    line-height: 70px;
  }
  .compny-log img {
    width: 150px;
  }
  .tab-list .tab a {
    font-size: 20px;
    line-height: 30px;
  }
  .theme-padding {
    padding-left: 100px;
    padding-right: 100px;
  }
  .banner-title {
    padding: 30px 0 30px 0;
  }
  .section-banner {
    padding-top: 30px;
  }
  .section-title h1 {
    font-size: 70px;
    line-height: 80px;
  }
  .years {
    font-size: clamp(80px, 8vw, 290px);
  }
  .header-get-in-touch,
  .menu-item {
    padding: 30px 15px;
  }
  .header-wrapper {
    min-height: 86px;
  }
}

@media screen and (max-width: 1408px) {
  .section-head h3,
  .testimonial-title h3,
  .section-title h3 {
    font-size: 22px;
    line-height: 32px;
  }
  .compny-log img {
    width: 130px;
  }
  .serve-content {
    grid-template-columns: 1fr 180px;
  }
  .serve-ul {
    position: relative;
    z-index: 1;
    background-color: #f5f5f5;
    margin: 0 1px;
  }
  .serve-name {
    grid-template-columns: 1fr 2fr;
  }
  .serve-num {
    border-right: 1px solid rgba(17, 17, 17, 0.15);
  }
  .section-title h1 {
    font-size: 60px;
    line-height: 70px;
  }
  .banner-title {
    padding: 20px 0 20px 0;
  }
  .connectivity-detail {
    padding-left: 60px;
  }

  .highlight-item:not(:last-child) {
    margin-bottom: 8px;
  }

  .title-tagline {
    font-size: 16px;
  }

  .theme-padding {
    padding-left: 60px;
    padding-right: 60px;
  }

  .section-title h2 {
    font-size: 36px;
    line-height: 44px;
  }
  section,
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .menu-item,
  .header-get-in-touch {
    padding: 30px 15px;
  }
}

@media screen and (max-width: 1216px) {
  .section-head h3,
  .testimonial-title h3,
  .section-title h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .tab-list .tab a {
    padding: 18px 10px;
  }
  .compny-log img {
    width: 100px;
  }
  .serve-content {
    grid-template-columns: 1fr 150px;
  }
  .header-wrapper {
    grid-template-columns: 1fr 2fr 1fr;
    min-height: 85px;
    position: unset;
    background-color: unset;
    margin-left: unset;
  }
  .theme-menu ul {
    background-color: transparent;
  }
  .theme-menu ul .menu-item:nth-child(odd) {
    border-left: unset;
  }
  .menu-item,
  .header-get-in-touch {
    margin-right: 20px;
  }
  .section-title h1 {
    font-size: 55px;
    line-height: 65px;
  }
  .custom-container-1840 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .rr-v-lines {
    padding-left: 40px;
    padding-right: 40px;
  }
  .theme-padding {
    padding-left: 35px;
    padding-right: 35px;
  }

  .section-title h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .splide__arrow {
    width: 40px;
    height: 40px;
    padding: 8px;
  }

  .insomenu-bars {
    top: 30px;
    right: 20px;
    margin: 0;
    display: inline-block;
    height: 40px;
    width: 40px;
    position: absolute;
    z-index: 100000;
    cursor: pointer;
  }

  .insomenu-bars span,
  .insomenu-bars span:after,
  .insomenu-bars span:before {
    width: 30px;
    border-radius: 0;
    -webkit-transition: -webkit-transform ease 0.15s;
    transition: -webkit-transform ease 0.15s;
    transition: transform ease 0.15s;
    transition:
      transform ease 0.15s,
      -webkit-transform ease 0.15s;
    position: absolute;
    left: inherit;
    right: 0;
    margin: 0 auto;
    height: 2px;
    background-color: #f79620;
  }

  .insomenu-bars span:before {
    top: -8px;
  }

  .insomenu-active .insomenu-bars span,
  .insomenu-active .insomenu-bars span:after,
  .insomenu-active .insomenu-bars span:before {
    opacity: 1;
  }

  .insomenu-bars span {
    top: 50%;
    display: block;
    margin-top: -2px;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
  }

  .insomenu-bars span:after,
  .insomenu-bars span:before {
    display: block;
    content: "";
  }

  .insomenu-bars span:before {
    top: -8px;
    -webkit-transition:
      top 0.1s 0.14s ease,
      opacity 0.1s ease;
    transition:
      top 0.1s 0.14s ease,
      opacity 0.1s ease;
  }

  .insomenu-bars span:after {
    bottom: -8px;
    width: 30px;
    -webkit-transition:
      bottom 0.1s 0.14s ease,
      -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition:
      bottom 0.1s 0.14s ease,
      -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition:
      bottom 0.1s 0.14s ease,
      transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition:
      bottom 0.1s 0.14s ease,
      transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19),
      -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .insomenu-active .insomenu-bars span {
    -webkit-transition-delay: 0.14s;
    transition-delay: 0.14s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .insomenu-active .insomenu-bars span:before {
    top: 0;
    -webkit-transition:
      top 0.1s ease,
      opacity 0.1s 0.14s ease;
    transition:
      top 0.1s ease,
      opacity 0.1s 0.14s ease;
    opacity: 1;
    width: 25px;
  }

  .insomenu-active .insomenu-bars span:after {
    bottom: 0;
    transition:
      bottom 0.1s ease,
      -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 25px;
  }

  .insomenu-active .insomenu-bars span {
    width: 25px;
    right: 30px;
  }

  .insomenu-active .menu-creative,
  .insomenu-active .our-offices-item:first-child {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }

  .insomenu-active .our-offices-item:last-child {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }

  .theme-menu {
    position: fixed;
    background-color: #ffffff;
    color: #fff;
    width: 100%;
    right: -400px;
    padding: 0;
    padding: 70px 30px 30px !important;
    margin-top: 0;
    top: 0;
    height: 100vh;
    width: 400px;
    max-width: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    opacity: 0;
    z-index: 99999;
    /* clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%); */
    transition: all 1s ease-out;
    pointer-events: none;
    overflow-y: auto;
  }

  .insomenu-active .theme-menu {
    opacity: 1;
    right: 0;
    /* clip-path: circle(1600px at 90% -10%);
    -webkit-clip-path: circle(1600px at 90% -10%); */
    pointer-events: all;
  }

  body.insomenu-active {
    overflow: hidden;
  }

  body.insomenu-active::after {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99998;
    pointer-events: none;
  }

  .theme-menu ul li {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  .menu-item {
    padding: 0;
  }
  .menu-link {
    font-size: 30px;
  }

  .menu-item {
    line-height: 32px;
  }

  .theme-menu ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  .sticky-btn-enquire {
    z-index: 888 !important;
  }

  .theme-menu ul {
    flex-direction: column;
    justify-content: start;
    display: flex;
    gap: 30px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .section-industries-we-serve.section-margin {
    margin-top: 0;
  }
  .compny-log-box {
    display: none;
  }
  .content-tab {
    border-right: unset;
  }
  .serve-content {
    grid-template-columns: auto;
  }
  .tab-list .tab a {
    font-size: 18px;
    line-height: 28px;
  }
  .tab-list .tab a {
    padding: 5px 10px;
  }
  .serve-name {
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
  .section-title h1 {
    font-size: 45px;
    line-height: 55px;
  }
  .banner-content {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto auto;
  }
  .location-wrraper {
    display: contents;
  }
  .location-wrraper .location {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
    background-color: #f5f5f5;
    border-right: 1px solid rgba(17, 17, 17, 0.15);
    margin-left: 1px;
  }
  .experience-block .theme-h-line {
    background-color: transparent;
  }
  .experience-block {
    position: relative;
    background-color: #f5f5f5;
    z-index: 1;
    margin-right: 1px;
  }
  .location-wrraper .theme-h-line.theme-outerline-left {
    display: none;
  }
  .location-wrraper .theme-icon {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
  .experience-block {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .btn.btn-learn-more {
    padding: 12px 15px;
    width: fit-content;
  }
  .banner-desc {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  .years {
    padding: 0 20px;
    font-size: 80px;
    line-height: 90px;
  }
  .svc-card-inner {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding: 30px;
  }

  .svc-card-right {
    grid-column: 1 / -1;
  }
  .card-content .card-description {
    width: 90%;
  }
  .connectivity-detail {
    padding-left: 0;
    padding-top: 30px;
  }

  .title-tagline {
    font-size: 15px;
  }

  .amenities-col {
    width: 25%;
  }
  .row-copyright {
    margin: -5px;
  }

  .col-copyright {
    padding: 5px;
  }

  .sticky-btn-enquire {
    font-size: 13px !important;
    right: -40px;
  }

  .sticky-btn-enquire.sticky-brochure {
    top: 380px;
    right: -64px;
  }

  section,
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section-title h2 {
    font-size: 30px;
    line-height: 36px;
  }

  .theme-logo img {
    max-height: 65px;
  }

  .col-copyright,
  .col-copyright:last-child {
    text-align: center;
  }

  .scroll-to-top svg {
    width: 36px;
    height: 36px;
  }

  .scroll-to-top {
    width: 36px;
    height: 36px;
    bottom: 55px;
  }

  .call-btn {
    width: 36px;
    height: 36px;
    bottom: 55px;
  }

  .sticky-bottom-form-inner {
    position: fixed;
    padding: 0;
    display: block;
    bottom: -165px;
    left: 0;
    width: 100%;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background-color: #f79620;
    z-index: 999;
  }

  .sticky-bottom-form.open .close-form {
    opacity: 1;
    background-color: transparent;
  }

  .sticky-bottom-form.open .sticky-bottom-form-inner {
    bottom: 0;
    left: 0;
  }

  .sticky-bottom-form {
    bottom: auto;
    left: auto;
    padding: 0;
    width: 100%;
    background: rgb(45 41 38 / 0.9);
    max-width: 100%;
    margin: 0 auto;
    right: 0;
    position: inherit;
    z-index: 999 !important;
  }

  .sticky-bottom-form .col-form {
    width: 50%;
    margin: 0 0 15px !important;
  }

  .sticky-bottom-form .col-form.col-form-btn {
    width: 100%;
  }

  .col-form-title {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
  }

  .col-form-title h3 {
    margin: 0;
    padding: 10px 12px;
    color: #ffffff;
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    border-top: 1px solid #ffffff60;
    text-transform: uppercase;
  }

  .close-form {
    color: #ffffff;
    position: absolute;
    font-size: 22px;
    line-height: 22px;
    top: 8px;
    right: 3px;
    opacity: 0;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .content-tab {
    margin-left: 1px;
  }
  .section-head {
    grid-template-columns: auto;
  }
  .serve-num {
    display: none;
  }
  .serve-wrapper .serve-li {
    border-bottom: 1px solid rgba(17, 17, 17, 0.15);
  }
  .serve-name {
    grid-template-columns: auto;
  }
  .section-title h2 {
    font-size: 28px;
    line-height: 38px;
  }
  .serve-wrapper {
    grid-template-columns: auto;
  }
  .header-wrapper {
    grid-template-columns: 1fr 2fr 180px;
    position: relative;
    z-index: 1;
    /* background-color: #f5f5f5; */
    margin-left: 3px;
  }
  .menu-item,
  .header-get-in-touch {
    padding: 20px 15px;
  }

  .top-line,
  .theme-h-line,
  .theme-outerline-left:before,
  .rr-v-lines .rr-line,
  .theme-diagonal-line-right:after {
    background-color: rgba(17, 17, 17, 0.1);
  }
  .years {
    padding: 0 15px;
    font-size: 50px;
    line-height: 50px;
  }
  .location-wrraper .location {
    border-top: 1px solid rgba(17, 17, 17, 0.15);
  }
  .experience-block {
    border-top: 1px solid rgba(17, 17, 17, 0.15);
    position: relative;
  }
  .banner-desc {
    gap: 20px;
  }
  .experience-block::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(17, 17, 17, 0.15);
    bottom: 0;
    left: 100%;
  }
  .location-wrraper .location {
    position: relative;
  }
  .location::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(17, 17, 17, 0.15);
    bottom: 0;
    right: 100%;
  }
  .banner-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
  .location-wrraper .location {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .experience-block {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .banner-desc {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
  .location-wrraper .theme-icon {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }
  .svc-card-inner {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 24px;
  }

  .svc-card-title {
    font-size: 24px;
  }

  .svc-card-img {
    max-width: 200px;
  }
  .contact-form .form-row {
    flex-direction: column;
    gap: 16px;
  }
  .amenities-col {
    width: 33.33%;
  }

  .amenities-icon img {
    max-width: 50px;
    margin: 0 auto 6px;
  }

  .yBoxFrame.yBoxImgWrap .yBoxPrevImg::after {
    left: 30px !important;
  }

  .yBoxFrame.yBoxImgWrap .yBoxNextImg::after {
    left: 0;
  }

  section,
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .copyright-detail .small {
    font-size: 13px;
  }

  .counter-block h3 {
    font-size: 28px;
  }

  .tab-list .tab a {
    padding: 12px 24px;
  }
  .section-title h1 {
    font-size: 38px;
    line-height: 48px;
  }
  .copyright-line {
    display: block;
    font-size: 0 !important;
    line-height: 0 !important;
  }

  #register-modal {
    padding: 25px;
  }
}

@media screen and (max-width: 575px) {
  .theme-diagonal-line-right:after {
    width: 182px;
    left: -147px;
    transform: rotate(37deg);
  }
  .theme-diagonal-line-right:before {
    left: -146px;
  }

  .header-wrapper {
    grid-template-columns: 1fr 1fr 180px;
    position: relative;
    margin-right: 20px;
  }
  .header-wrapper {
    min-height: 60px;
  }
  .section-banner,
  .section-banner {
    padding-top: 20px;
  }
  .custom-container-1840 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .rr-v-lines {
    padding-left: 20px;
    padding-right: 20px;
  }
  .insomenu-bars {
    top: 10px;
    right: 15px;
  }

  .amenities-col {
    width: 50%;
  }
  .menu-item,
  .header-get-in-touch {
    padding: 20px 10px;
  }
  .theme-modal-card-body {
    padding: 20px;
  }

  .theme-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form-control {
    font-size: 13px;
  }

  .btn {
    font-size: 13px;
    line-height: 20px;
  }

  .section-title {
    margin-bottom: 20px;
  }

  .accordion .card__content {
    padding: 0 15px 15px;
  }

  .accordion .card__title {
    padding: 8px 15px;
  }

  .column.col-register {
    padding: 8px;
  }

  .columns.row-register {
    margin: -8px !important;
  }

  .form-control {
    padding: 12px 12px 12px 0;
  }

  .splide__pagination__page {
    width: 10px;
    height: 10px;
  }

  .listed-points li:before {
    width: 8px;
    height: 8px;
  }

  .listed-points li {
    padding-left: 20px;
  }

  #main-slider .splide__arrow {
    display: none;
  }

  .accordion .card__title {
    font-size: 16px;
    min-height: 50px;
  }

  section,
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .theme-logo img {
    max-height: 30px;
  }
  .location span,
  .experience-title span {
    font-size: 16px;
  }

  .tab-list {
    gap: 10px;
  }

  .sticky-bottom-form {
    display: none !important;
  }

  .sticky-btn-enquire {
    transform: unset;
    top: unset;
    bottom: 0;
    right: 0;
    left: 0;
    border: 0;
    border-top: 1px solid #fff;
    border-radius: 0;
    text-align: center;
    width: 50%;
    padding: 10px 0px !important;
  }

  .sticky-btn-enquire.sticky-brochure {
    top: unset;
    right: 0;
    width: 50%;
    left: unset;
    border-left: 1px solid #fff;
  }

  .thankyou-block h1 {
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 8px;
  }

  .thankyou-msg {
    font-size: 14px !important;
  }

  .thankyou-logo img {
    height: 80px;
  }

  .close {
    bottom: initial;
    top: -18px;
    left: initial;
    right: -18px;
    width: 36px;
    height: 36px;
  }

  .theme-modal-card {
    max-width: 100%;
  }

  .theme-modal .theme-modal-card {
    top: -30px;
    transform: none;
    margin-top: 30px;
    padding: 20px;
  }

  .theme-modal.is-active .theme-modal-card {
    top: 0;
    transform: none;
    margin-top: 30px;
  }

  .scroll-to-top {
    display: none !important;
  }

  body {
    font-size: 14px;
    line-height: 22px;
  }

  .section-title h1,
  .section-title h2 {
    font-size: 24px;
    line-height: 30px;
  }
}

@media screen and (max-width: 480px) {
  .menu-item,
  .header-get-in-touch {
    padding: 10px 10px;
  }
  .years {
    padding: 0 10px;
    font-size: 40px;
    line-height: 40px;
  }
  .header-wrapper {
    grid-template-columns: 1fr 1fr 160px;
  }
  .modal-title {
    font-size: 20px;
  }

  .counter-block h3 {
    font-size: 24px;
  }

  .sticky-btn-enquire {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 420px) {
  .rr-v-lines .rr-line:first-child {
    display: none;
  }
  .section-title h1,
  .section-title h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .btn.btn-learn-more {
    padding: 8px 10px;
    width: fit-content;
  }
  .theme-padding-xs {
    padding-left: 10px;
    padding-right: 10px;
  }
  .banner-desc {
    padding: 10px;
  }
  .years {
    padding: 0 10px;
    font-size: 30px;
    line-height: 30px;
  }
  .experience-title {
    padding: 10px 10px 0;
  }
  .modal-title {
    font-size: 16px;
  }

  .sticky-btn-enquire {
    font-size: 12px !important;
  }

  .sticky-btn-enquire {
    width: 40%;
  }

  .sticky-btn-enquire.sticky-brochure {
    width: 60%;
  }
  .header-wrapper {
    grid-template-columns: 1fr 1fr 150px;
  }
  .theme-logo img {
    max-height: 25px;
  }
}

@media screen and (max-width: 380px) {
  .header-get-in-touch {
    display: none;
  }
  .banner-title {
    padding: 10px 0 10px 0;
  }
  .menu-item,
  .header-get-in-touch {
    margin-right: 10px;
  }
  .header-wrapper {
    grid-template-columns: 1fr 1fr 140px;
  }
  .section-title h1,
  .section-title h2 {
    font-size: 18px;
    line-height: 28px;
  }
  .small-title {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .tab-list .tab a {
    width: 100%;
    padding: 12px 24px;
  }
}

@media screen and (max-width: 360px) {
  .section-title h1,
  .section-title h2 {
    font-size: 22px;
    line-height: 28px;
  }
}
